@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
/**{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}*/
/*body{
  overflow: hidden;
  background: #f2f2f2;
}*/
#click{
  display: none;
}
label.callr-icon {
  position: absolute;
  right: 30px;
  bottom: 20px;
  height: 55px;
  width: 55px;
  background: -webkit-linear-gradient(left, #120af5, #05c3f7);
  text-align: center;
  line-height: 55px;
  border-radius: 50px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
label.callr-icon i{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.4s ease;  
  z-index: 999;
}
label.callr-icon i.fas{
  opacity: 0;
  pointer-events: none;
  z-index: 999;
}
#click:checked ~ label i.fas{
  opacity: 1;
  pointer-events: auto;
  transform: translate(-50%, -50%) rotate(180deg);
  z-index: 999;
}
#click:checked ~ label i.fab{
  opacity: 0;
  pointer-events: none;
  transform: translate(-50%, -50%) rotate(180deg);
  z-index: 999;
}
.wrapper{
  position: absolute;
  right: 30px;
  bottom: 0px;
  max-width: 360px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
  z-index: 999;
}
#click:checked ~ .wrapper{
  opacity: 1;
  bottom: 85px;
  pointer-events: auto;
  z-index: 999;
}
.wrapper .head-text{
  line-height: 60px;
  color: #fff;
  border-radius: 15px 15px 0 0;
  padding: 0 20px;
  font-weight: 500;
  font-size: 30px;
  background: -webkit-linear-gradient(left, #120af5, #05c3f7);
  z-index: 999;
}
.wrapper .chat-box{
  padding: 20px;
  width: 100%;
}
.wrapper .desc-text{
  padding: 20px;
  width: 100%;
  color: #515365;
  text-align: center;
  line-height: 25px;
  font-size: 17px;
  font-weight: 500;
  padding: 2px;
}
.wrapper .tray {
  width: 100%;
  padding: 2px 5px;
  margin: 2px 0;
  height: 56px;
  border-radius: 0px;
  border-bottom: 2px solid lightgrey;
  transition: all 0.3s ease;
}
div button.play {
  position: relative;
  margin: 0px 9px;
  height: 48px;
  width: 48px;
  background: -webkit-linear-gradient(left, #120af5, #05c3f7);
  text-align: center;
  line-height: 40px;
  border-radius: 15px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  z-index: 999;
}
.wrapper .transcript-area {
  overflow-y: auto;
  width: 360px;
  height: 400px;
  padding-left: 5px;
  padding-right: 5px;
}
.chat-box form{
  padding: 5px 15px;
  margin: 0px 0;
  border-radius: 25px;
  border: 1px solid lightgrey;
}
.chat-box form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.chat-box form .field:last-child{
  margin-bottom: 15px;
}
form .field input,
form .field button,
form .textarea textarea{
  width: 100%;
  height: 100%;
  padding-left: 20px;
  border: 1px solid lightgrey;
  outline: none;
  border-radius: 25px;
  font-size: 16px;
  transition: all 0.3s ease;
}
form .field input:focus,
form .textarea textarea:focus{
  border-color: #fc83bb;
}
form .field input::placeholder,
form .textarea textarea::placeholder{
  color: silver;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder,
form .textarea textarea:focus::placeholder{
  color: lightgrey;
}
.chat-box form .textarea{
  height: 70px;
  width: 100%;
}
.chat-box form .textarea textarea{
  height: 100%;
  border-radius: 50px;
  resize: none;
  padding: 15px 20px;
  font-size: 16px;
}
.chat-box form .field button{
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  background: -webkit-linear-gradient(left, #120af5, #05c3f7);
  transition: all 0.3s ease;
}
.chat-box form .field button:active{
  transform: scale(0.97);
}
.transcribe-area {
  position: relative;
}
.language-screen {
  width: 360px;
  height: 485px;
  position: relative;
}
.label-div {
  width: 100%;
  margin: 0;
  position: absolute;
  text-align: center;
  top: 30%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.lang-select-div {
  margin: 0;
  position: absolute;
  top: 40%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.lang-select {
  width: 120px;
}
.submit-div {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%);
  transform: translate(-50%);
}
.submit-button {
  width: 150px;
}
p.time {
  font-size: small;
  font-weight: lighter;
  margin-top: 5px;
  margin-bottom: 0px;
  width: 100%;
}